.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;

  width: 300px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 10px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: grey;
  background-blend-mode: multiply;

  color: azure;
  transition: 2s;
}

.wrapper:hover {
  transform: scale(1.1);
  -webkit-animation: glowing 1s ease-in-out infinite alternate;
  -moz-animation: glowing 1s ease-in-out infinite alternate;
  animation: glowing 1s ease-in-out infinite alternate;
}
@keyframes glowing {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px rgb(17, 0, 255),
      0 0 40px #0ff, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.wrapper > h4 {
  color: rgb(172, 202, 238);
}
