* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(18, 78, 81, 0.6867997198879552) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
