.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  width: 20vw;
  text-align: center;
  background-color: white;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.cardFullName,
.cardAge,
.cardHomeTown,
.cardChildren {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
